<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">
            Admin
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}" />
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Your Page Content Here -->

        </div>
    </body>
</html>

