<!DOCTYPE html>
<html lang="en" xmlns:th=="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}"/>
    <title>Employee Form</title>
</head>
<body>
    <form th:object="${employee}" action="#" th:action="@{/save_employee}" method="post">
        <fieldset>
            <legend>Employee</legend>
            <label>Number: </label>
            <input type="text" th:field="*{number}"/><br/>
            <label>First Name: </label>
            <input type="text" th:field="*{firstName}"/><br/>
            <label>Last Name: </label>
            <input type="text" th:field="*{lastName}"/><br/>
            <h4>Address</h4>
            <label>Street: </label>
            <input type="text" th:field="*{address.street}"/><br/>
            <label>City: </label>
            <input type="text" th:field="*{address.city}"/><br/>
            <label>State: </label>
            <input type="text" th:field="*{address.state}"/><br/>
            <label>Zipcode: </label>
            <input type="text" th:field="*{address.zipcode}"/><br/>
        </fieldset>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>